.wrapper {
  width: 161px;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 5px;
  border-radius: 5px;

  &:hover{
    background-color: var(--color-control-bg-clear-hover);
  }
}

.logo {
  margin-right: 14px;
  display: flex;
  align-items: center;
}

.text {
  font-family: 'Inter', serif;
  font-size: 16px;
  user-select: none;
}

.typical_element {
  color: #667985;
}

.chosen_element {
  color: #1849C7;
  background-color: var(--color-control-bg-clear-hover);
}
