.btn{
  height: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  padding: 1px 2px;
  transition: background-color 0.3s;

  background-color: var(--color-control-bg-secondary);
  border: var(--control-border-width) solid var(--color-control-bg-border-secondary);
  color: var(--color-control-typo-secondary);

  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;

  &:hover{
    --color-hover: var(--color-control-typo-secondary-hover);
    border-color: var(--color-hover);
    color: var(--color-hover);
  }

  &[disabled]{
    cursor: unset;
    color: var(--color-control-bg-disable);
    border:var(--control-border-width) solid var(--color-control-bg-disable);

    &:hover {
      color: rgba(2, 51, 80, 0.1);
      border:var(--control-border-width) solid rgba(2, 51, 80, 0.1);
      transition: background-color 0.3s;
    }
  }
}
