.linkContent{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-typo-primary);
  text-decoration: none;
}

.linkIcon{
  margin-right: 1em;
}

.collapseIcon{
  margin-top: 10px;
  margin-right: 1em;
}

.collapseContent{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: var(--color-typo-primary);
  text-decoration: none;
}