.users {
  position: relative;
  height: calc(100% - 40px);
}

.tableLayout {
  overflow-x: hidden;
  overflow-y: scroll;
  height: min-content;
}

.table{
  --table-grid-template-columns: 40px calc(22.18% - 42px) calc(13.56% - 42px) calc(11.49% - 42px) calc(10.24% - 42px) calc(20.8% - 42px) calc(9.89% - 42px) calc(11.84% - 42px) 44px !important;
}
