.organizations {
  position: relative;
  height: calc(100% - 40px);
}

.tableLayout {
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
}

.table {
  width: 100% !important;
  --table-grid-template-columns: 40px calc(41.1% - 28px) calc(38.8% - 28px) calc(20% - 28px) 44px !important;
}
