.tab{
  background-color: transparent;
  padding: 8px 0 8px 2px;
  margin-right: 0 !important;
  &:hover .crossBtn{
    opacity: 1;
    transition-property: opacity;
    transition-duration: .3s;
  }
}

.title{
  margin: 0 4px;
}

.crossBtn{
  opacity: 0;
  transition-property: opacity;
  transition-duration: .3s;
}

.icon{
  margin-left: 2px;
}

