.wrapper {
  width: 100%;
  height: 100%;

  //margin-right: 5%;
  //margin-left: 5%;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video {
  padding-bottom: 7.5px;
  margin-bottom: 7.5px;
}

.mainFrame {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 309px;
  margin-top: 24px;

  border: 1px solid rgba(0, 65, 102, 0.2);
  border-radius: 8px;

  box-sizing: border-box;
}

.emptyMainFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--color-typo-ghost);
  line-height: 150%;
}

.extraFrame {
  height: 105px;
  width: 33%;

  position: absolute;
  top: 0;
  right: 18px;

  display: flex;
  justify-content: center;

  z-index: 100;

  background-color: #FFFFFF;
}

.extraFrameDisabled {
  border: 1px solid rgba(0, 65, 102, 0.2);
  border-radius: 8px;
}

.downPanel {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .soundButton {
    margin-left: 16px;
  }
}
