.statusTag {
  margin-right: 3px;
  margin-bottom: 3px;
}

.datePickerField {
  width: 260px;
}

.contextMenu {
  width: 126px !important;
}

.yellow {
}

.combobox {
  max-height: 42px !important;
}

.selectTag {
  display: inline-flex;
  background-color: rgba(#54B309, .2) !important;
}
