.tableRow{
  .titleColumn{
    max-width: 133px;
    padding-bottom: 19px;
    padding-right: 35px;
  }
  .contentColumn{
    padding-bottom: 19px;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
  }
}


