.exams {
  position: relative;
  height: calc(100% - 40px);
}

.tableLayout {
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
}

.table {
  width: 100% !important;
  --table-grid-template-columns: 40px calc(24.62% - 34.8px) calc(15.43% - 34.8px) calc(33.54% - 34.8px) 46px calc(10.59% - 34.8px) calc(15.82% - 34.8px) 40px 44px !important;
}

