.protocol {
  position: relative;
  box-sizing: border-box;
  height: calc(100% - 40px);
  overflow-y: auto;
}

.examTitle {
  height: 45px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;


  .resultBtnWrap{
    display: inline-flex;
    gap: 12px;
    .acceptBtn{
      color: var(--color-typo-success);
      border-color: var(--color-bg-success);


      &.MixFocus{
        outline: none;
        box-shadow: none;
        animation: none
      }

      .Animation--Custom{
        // тут опиши правила анимации
      }
    }
    .declineBtn{
      color: var(--color-typo-alert);
      border-color: var(--color-bg-alert);

    }
  }

}

.examBlock {
  display: inline-flex;
  column-gap: 12px;
}

.aboutExamBlock {
  width: 302px;
}

.examProcess {
  position: relative;
}

.playerWrapper {
  width: 100%;
  height: 60%;
  border: 1px solid teal;
}

.violationTimeline {
  height: 80px;
  margin: 10px 0;
  padding: 4px 8px;
}

.violationBlock {
  position: relative;
  height: 100%;
}
