.protocol {
  position: relative;
  box-sizing: border-box;
  height: calc(100% - 40px);
}

.examTitle{
  height: 45px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between
}

.examBlock{
  display: inline-flex;
  column-gap: 12px;
}

.aboutExamBlock{
  width: 302px;
}

.examProcess{
  height: 100%;
}

.playerWrapper{
  width: 100%;
  height: 40px;
  border: 1px solid teal;
}
