.protocol {
  position: relative;
  box-sizing: border-box;
  height: calc(100% - 40px);
}

.examTitle {
  height: 45px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between
}

.examBlock {
  display: inline-flex;
  column-gap: 12px;
}

.aboutExamBlock {
  width: 302px;

}

.examProcess {
  position: relative;


}

.playerWrapper {
  width: 100%;
  height: auto;
  border: 1px solid teal;
}

.violationTimeline {
  height: 80px;
  margin: 10px 0;
  text-align: center;

  // violet glassmorphosm
  background: rgba(51, 21, 124, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.violationBlock {
  position: relative;
  height: 100%;
}
