.wrapper{
  margin: var(--space-s);
  display: inline-flex;
  row-gap: var(--space-s);
}

.rowWrapper{
  display: inline-flex;
  column-gap: var(--space-s);
}
.datePickerField{
  width: 260px;
}

.contextMenu{
  width: 126px !important;
}
