.buttonGroup {
  width: auto !important;
  margin-left: var(--space-s)
}

.fieldsGroup {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
}

.buttonGridItem {
  width: auto;
}

.firstRow{
  display: flex;
  flex-wrap: nowrap;
}

.wrapper{
  box-sizing: border-box;
  margin: var(--space-s);
  margin-top: 0;
}

.searchField{
  margin-left: var(--space-s);
}
