.aboutExam{
  height: auto;
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  row-gap: 6px;

  .row{
    display: flex;
    justify-content: space-between;
  }
}

.stopCheckIcon{
  color: var(--color-control-typo-secondary);
  cursor: pointer;
  z-index: 1;
   &:hover{
     color: var(--color-control-bg-primary-hover);

   }
}

.spinner{
  grid-row-start: 1;
  grid-row-end: 6;

  display: flex;
  justify-content: center;
  align-items: center;
}
