.headerContextMenu{
  width: auto !important;
}

.headerLogin{
  cursor: pointer;
}

.headerLogin .User-AvatarWrapper .Avatar{
  background-image: linear-gradient(hsla(0,0%,100%,.24),hsla(0,0%,100%,0)),linear-gradient(#0071b2,#0071b2);
}
