.sidebarFooter{
  overflow: hidden;
  display: inline-flex;
  column-gap: 20px;
  align-items: center;
}

.link{
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-left: 7px;
  text-decoration: none;
  display: inline-flex;
  column-gap: 20px;
  font-size: 14px;
  padding: 10px 0;
  align-items: center;
  color: var(--color-typo-primary);
}

.info {
  min-width: fit-content;
  max-width: fit-content;
}

.iconInfo {
  max-width: 10px;
  min-width: 10px;
}

.linkContent{
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.linkIcon{
  margin-right: 11px;
}

.ringButton{
  color: var(--color-typo-caution)
}
