.sideFooter{
  overflow: hidden;
}

.link{
  text-decoration: none;
  display: inline-block;
  margin: 4px 1px;
  font-size: 14px;
}

.linkContent{
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-typo-primary);
  white-space: nowrap;
}

.linkIcon{
  margin-right: 14px;
  transition: margin-left .5s;
}
