.content{
  background-color: white;
  overflow-y: auto;
}

.tableWrapper{
  width: 100%;
}

.table{
  //962-4=958
  //
  width: 100%;
  height: min-content;
  border-bottom: 0 !important;
  --table-grid-template-columns: 4.851fr 2.022fr 2.059fr 1.067fr 155px !important;
}
