.content{
  background-color: white;
  overflow-y: auto;
}

.tableWrapper{
  width: 100%;
}

.table{
  //962-4=958
  //
  width: 100%;
  height: min-content;
  border-bottom: 0 !important;
  --table-grid-template-columns: 2fr 1fr 1fr 0.5fr 1fr !important;
}
