$color-unplanned: #667985;
$color-missed: #B3BDC2;
$color-planned: #54B309;
$color-success: #09B37B;
$color-waiting: #F3C538;
$color-conclusionWaiting: #E79924;
$color-async: #0071B2;
$color-withProctor: #0071B2;
$color-forming: #56B9F2;
$color-review: #603ACC;
$color-withoutProctor: #EB3333;
$color-rejected: #B72145;
$color-noAppearance: #F0625A;
