.activeRow {
  background-color: rgba(0, 120, 210, 0.3) !important;
}

.tableWrapper {
  min-height: inherit;
  width: 100%;
  max-height: inherit;
}

.table{
  border-bottom: none !important;
}

.loader{
  height: 40px;
}

.contextMenu{
  width: max-content !important;
}

.TableCell-Wrapper{
  box-sizing: border-box;
  display: flex !important;
  height: 100%;
  padding: var(--cell-padding-vertical) var(--cell-padding-horizontal);
  padding-right: calc(var(--cell-padding-horizontal) + var(--resizer-width) + var(--buttons-wrapper-size));
  position: relative;
}

.TableCell-Wrapper_verticalAlign_top{
  align-items: center;
}
