.table {
  width: 100%;
  --table-grid-template-columns: 40px calc(24.62% - 34.8px) calc(15.43% - 34.8px) calc(33.54% - 34.8px) 46px calc(10.59% - 34.8px) calc(15.82% - 34.8px) 40px 44px !important;
}

.activeRow {
  background-color: rgba(0, 120, 210, 0.3) !important;
}

.tableWrapper {
  width: 100%;
  max-height: inherit;
}

.contextMenu{
  width: 128px !important;
}
